# Credits: kabili207 - https://gist.github.com/kabili207/2cd2d637e5c7617411a666d8d7e97101

[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config %I
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target
AssertPathIsDirectory="/mnt/user/%u/%I"

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount --config "%h/.config/rclone/rclone.conf" --vfs-cache-mode writes "%I:" "/mnt/user/%u/%I"
ExecStop=/bin/fusermount -u "/mnt/user/%u/%I"

[Install]
WantedBy=default.target
